@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: blanchedalmond;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@keyframes changeScale {
  from {
    transform: scale(1);
    transform: translateY(0);
  }

  to {
    transform: scale(1.2);
    transform: translateY(5px);
  }
}

.mission__animation {
  animation-duration: 1s;
  animation-name: changeScale;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.mission {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mission__animation {
  display: block;
  padding-bottom: 10px;
}

.mission__text {
  font-size: 1.2rem;
  color: rgb(206, 215, 223);
  -webkit-text-stroke: 0.1px #272727;
}
